<div class="inner proto-spacer vertical-spacing-bottom-2">
{% if view == 'list' %}
  <h2>
      <a class="no-underline" href='/organisations/{{metadata.organisationSlug}}/{{record.itemId}}'>{{record.initiativeName}}</a>
  </h2>
  <span class="class="state-label {{record.stage}}">{{record.stage|title}}</span>
{% else %}
  <h1>
      {{record.initiativeName}}
      <span class="badge stage-badge {{record.stage}}">{{record.stage|title}}</span>
  </h1>
{% endif %}

<div class="inner">
  <span class="state-label {{record.status}}">{{record.status|title}} {% if record.updatedAt %}| Last updated {{record.updatedAt.strftime('%d %B %Y %H:%M')}} {% endif %} </span>
</div>

{% if view != 'list' %}
  <p>{{record.shortDescription}}</p>
  {% if record.description %}
    <p>{{record.description}}</p>
  {% endif %}
{% else %}
  {% if record.shortDescription %}
      <p>{{record.shortDescription}}</p>
  {% endif %}
{% endif %}

{% if record.ownerEmail %}
  <p>Owner: <a href="mailto:{{record.ownerEmail}}">{{record.owner}}</a></p>
{% else %}
  <p>Owner: {{record.owner}}</p>
{% endif %}

{% if record.productUrl %}
    <p><strong>URL:</strong> <a href="" target="_blank">{{record.productUrl}}</a></p>
{% endif %}
{% if record.createdAt %}
    <div>
      Created at: {% if view == 'list' %}{{record.createdAt.strftime('%d %B %Y')}}{% else %}{{record.createdAt.strftime('%d %B %Y %H:%M')}}{% endif %}
    </div>
{% endif %}
</div>
