<div>
  <p>
      {% if view == 'list' %}
        <h3>
          <a href='/organisations/the-paddox/{{record.itemId}}'>{{record.initiativeName}}</a>
          <span class="badge stage-badge {{record.stage}}">{{record.stage|title}}</span>
          <span class="badge status-badge {{record.status}}">{{record.status|title}}</span>
        </h3>
      {% else %}
        <h1>
          {{record.initiativeName}}
          <span class="badge stage-badge {{record.stage}}">{{record.stage|title}}</span>
          <span class="badge status-badge {{record.status}}">{{record.status|title}}</span>
        </h1>
        <div>
          One of the initiatives of <a href='/organisations/{{ metadata.organisationSlug }}'>{{metadata.organisationName}}</a>
        </div>
        <br />
    {% endif %}
    {% if view != 'list' %}
      <p><i>{{record.shortDescription}}</i></p>
      {% if record.description %}
        <p>{{record.description}}</p>
      {% endif %}
    {% else %}
      {% if record.shortDescription %}
        <p>{{record.shortDescription}}</p>
      {% endif %}
    {% endif %}
    {% if record.ownerEmail %}
      <div><strong>Owner:</strong> <a href="mailto:{{record.ownerEmail}}">{{record.owner}}</a></div>
    {% else %}
      <div><strong>Owner:</strong> {{record.owner}}</div>
    {% endif %}
    <br />
    {% if record.productUrl %}
    <p><strong>URL:</strong> <a href="" target="_blank">{{record.productUrl}}</a></p>
    {% endif %}
    <div><strong>Created at:</strong> {{record.createdAt}} {% if record.updatedAt %}| <strong>Updated at:</strong> {{record.updatedAt}} {% endif %}</div>
    <br />
  </p>
</div>
