<section class="proposition-details vertical-spacing-bottom-2">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <div class="submit-recipes-cta-panel vertical-spacing-bottom vertical-spacing-top">
          <h3 class="heading-small vertical-spacing-bottom-0-5">Share your Pipeline</h3>
          <p class="body-copy-medium vertical-spacing-bottom-0-5">This platform is a work-in-progress &mdash; we hope more organisations will join in the coming weeks. We would love yours to be one of them. Keeping your pipeline up to date is as simple as updating a Google Spreadsheet.</p>
          <p class="body-copy-medium">Please complete <a href="https://wearecast.typeform.com/to/gt2gEv" target="_blank">this form</a> and we'll be in touch.</p>
        </div>
      </div>
    </div>
  </div>
</section>
