<div class="grid-container">
  {% for stage in constants.stages %}
  <div class="grid-column proto-pipeline-phase">
    <div class="inner">
      <span class="phase-title is-{{stage}}">{{stage|title}}</span>
      <span class="heading-extra-large phase-count"><a href="#">
      {% if metadata.stats.stages[stage] %}
        {{metadata.stats.stages[stage]}}
      {% else %}
        0
      {% endif %}
      </a></span>
    </div>
  </div>
  {% endfor %}
</div>
