{% extends "base.html" %}

{% block main %}


<main class="main">
    <section class="proto-style-block phases proto-spacer">
      <div class="grid-container">
        <div class="column-full-width">
          <div class="inner">
            <p class="body-copy-small"><a
                href="#">Home</a> &gt; <a
                href="/">Pipeline</a></p>
            <h1 class="heading-large proto-spacer space-by-2">{{metadata.organisationName}}</h1>
          </div>
        </div>
      </div>

      {% include "fragments/stage_panels.njk"%}

      <div class="grid-container">
        <div class="column-full-width">
          There are currently
          {% if metadata.itemcount == 0 %}
          no
          {% else %}
          {% if metadata.status_count == 1 %}
          {% for status in metadata.stats.statuses %}
            {{metadata.stats.statuses[status]}} {{status|title}}
          {% endfor %}
          {% else %}
            {% for status in metadata.stats.statuses %}
            {% if not loop.first and not loop.last %}
              ,
            {% endif %}
            {% if loop.last %}
              and
              {% endif %}
              {{metadata.stats.statuses[status]}} {{status|title}}
              {% endfor %}
          {% endif %}
          {% endif %}
          items for this organisation.
        </div>
      </div>
    </section>

    {% if metadata.itemcount != 0 %}

    {% set view = 'list' %}
    {% for record in records %}
    <section>
      <div class="grid-container">
        <div class="column-full-width">
            {% include "fragments/record.njk"%}
        </div>
      </div>
    </section>
    {% endfor %}
    {% endif %}
  </main>

{% endblock %}
