{% extends "base.html" %}

{% block title %}Pipeline | Contributors{% endblock%}

{% block main %}
<section class="contributors-info vertical-spacing-bottom vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="heading-extra-large vertical-spacing-bottom">A <a href="https://www.thecatalyst.org.uk" class="no-underline" target="_blank">Catalyst</a> collaboration with civil society.</h1>
        <p class="body-copy-medium">Our collective ambition is to create a <a href="/organisations">shared, open pipeline</a> of thoughts, research and services for civil society.</p>
        <p class="body-copy-medium">We would like to thank the following for helping to deliver this platform:</p>
        <ul class="vertical-list vertical-spacing-bottom">
          <li>Stein - for providing free use of their platform during COVID-19 response</li>
          <li>Sourabh Choraria - for assistance with Google Apps Scripting</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% include "fragments/secondary_cta.njk" %}
{% endblock %}
