{% extends "base.html" %}

{% block main %}

<main class="main">
    <section class="proto-style-block phases proto-spacer">
      <div class="grid-container">
        <div class="column-full-width">
          <div class="inner">
            <p class="body-copy-small"><a
                href="#">Home</a> &gt; <a
                href="/">Pipeline</a></p>
            <h1 class="heading-large proto-spacer">Pipeline</h1>
            <p class="lead">Pipeline is an initiative from The Catalyst. It aims to capture the work and intentions of the charity sector in response to COVID-19 so that collaboration and reuse can occur, and wasteful duplication is hopefully avoided.</p>
            <p class="lead">There are currently {{metadata.organisation_count}} organisations participating. Add your organisation.</p>

          </div>
        </div>
      </div>
</section>


<section>
  <div class="grid-container">
    <div class="column-full-width">
      <h2>Organisations</h2>
      <br />
      {% for record in records %}
          <p>
            {% if record.steinApiId %}
              <a href='/organisations/{{ record.organisationSlug }}'>{{record.organisationName}}</a>
            {% endif %}
          </p>
      {% endfor %}

    </div>
  </div>

</section>

</main>



{% endblock %}
